<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
    <title>Checkerboard</title>
</head>
<body>
    <!-- <h1 style="background-color: {{color1}}; color: {{color2}};">** Checkerboard **</h1> -->
    <div class="container">
        {% for i in range(0,columns) %}
            <div class="row">
            {% for j in range(0,rows) %}
                {% if i%2 == 0 %}
                    {% if j%2 == 0 %}
                        <!-- <div class="box" style="background-color: {{color1}};"></div> -->
                    {% else %}
                        <!-- <div class="box" style="background-color: {{color2}};"></div> -->
                    {% endif %}
                {% else %}
                    {% if j%2 == 1 %}
                        <!-- <div class="box" style="background-color: {{color1}};"></div> -->
                    {% else %}
                        <!-- <div class="box" style="background-color: {{color2}};"></div> -->
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>